@using System.Web.Optimization
@using Westwind.Web.Markdown

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />


    @Styles.Render("~/bundle/css", "~/bundle/bootstrap/css")
    @Scripts.Render("~/bundle/js")


    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">


</head>
<body>
    @RenderBody()
</body>
</html>
