@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Westwind.Web.Markdown
@model LonglifeGames.Models.ArticleModel

<main>
    <section id="article">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">

                <div class="col-lg-12 ">
                    <div class="col-lg-12 bg-image-container hide-overflow">
                        <div class="absolute layer-4 article-preview align-vertical-absolute align-text-center">
                            <h1 class="text-header" style="font-size: 5vw; color:white;">@Html.DisplayFor(modelItem => Model.ArticleTitle)</h1>
                        </div>
                        <span class="cover dark-overlay"></span>
                        <img src="@Url.Content(Model.ArticleImage)" class="main-image-prefs">
                    </div>

                    <div class="col-lg-8 article-text-container hide-overflow layer-3" style="color: black">
                        <div class="layer-4 article-preview">

                                    
                            <p style="word-wrap: break-word;">

                                    @Markdown.ParseHtmlString(Model.ArticleContent)


                             </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

</main>


