@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <section id="contact-picture">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">
                <div class="col-lg-12 full-screen-height hide-overflow change-to-half-on-resize">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header align-text-center" style="font-size:8vh;">Contact us</h1>
                    </div>
                    <span class="cover dark-overlay"></span>
                    <img src="@Url.Content("~/Views/Images/pexels-photo.jpg")" class="main-image-prefs">
                </div>
            </div>
        </div>
</section>

    <section id="message">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">
                <div class="col-lg-12 contact-form">
                        <div class="col-lg-8 message-overflowing-block layer-3 offset-lg-2 hide-overflow">
                            <div class="col-lg-6">
                                <div class="absolute layer-4 article-preview">
                                    <h1 class="text-header black-text">How to advertise your Game?</h1>
                                    <p class="text-content black-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500
                                    </p>
                                    <div class="text-content black-text" style="margin-top:20px;margin-left: 15%; margin-right: 15%;">
                                        <ul>
                                            <li>
                                                Lorem Ipsum:
                                            </li>
                                            <li>
                                                Lorem Ipsum:
                                            </li>
                                            <li>
                                                Lorem Ipsum:
                                            </li>
                                            <li>
                                                Lorem Ipsum:
                                            </li>
                                        </ul>
                                    </div>


                                </div>
                            </div>
                                <div class="col-lg-5 message-form col-sm-12">
                                    <form id="contact-form" action="" method="post">
                                        <h3>Drop us a line</h3>
                                        <fieldset>
                                            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Your Email Address" type="email" tabindex="2" required>
                                        </fieldset>
                                        <fieldset>
                                            <input placeholder="Subject" type="text" tabindex="3" required>
                                        </fieldset>
                                        <fieldset>
                                            <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
                                        </fieldset>
                                        <fieldset>
                                            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                                        </fieldset>

                                    </form>
                                </div>
                        </div>
                </div>
            </div>
        </div>
</section>

    <section id="map">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">
                <div class="col-lg-12">

                </div>
            </div>
        </div>
</section>


</main>