@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="game-slideshow">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters hide-overflow">
                <div class="col-lg-12 full-screen-height change-to-half-on-resize">
                    <div class="absolute layer-4 article-preview align-vertical-absolute align-text-center">
                        <h1 class="text-header">BladePade</h1>
                    </div>
                    <div class="button pink-bg"><span>Learn More</span></div>
                    <img src="@Url.Content("~/Views/Images/MenuV3.png")" class="main-image-prefs">
                </div>
                <div class="black-bg col-lg-12 change-to-half-on-resize hide-on-lg layer-3">

                </div>
            </div>
        </div>
    </section>

    <section id="gameplay">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">
                <div class="col-lg-6 full-screen-height black-bg to-hide">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header">Gameplay</h1>
                        <p class="text-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 full-screen-height">
                    <span class="cover dark-overlay"></span>
                    <img src="@Url.Content("~/Views/Images/screen-4.png")" class="main-image-prefs blur-bg-sm">
                </div>
            </div>
        </div>
    </section>

    <section id="about-game">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">
                <div class="col-lg-7 full-screen-height to-hide">
                    <img src="@Url.Content("~/Views/Images/screen-2.png")" class="main-image-prefs">
                </div>
                <div class="col-lg-5 full-screen-height black-bg">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header">About</h1>
                        <p class="text-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="media">
        <div class="container-fluid" style="padding:0px;">
            <div class="row no-gutters">
                <div class="col-lg-12 full-screen-height black-bg">
                    <h1 class="text-header" style="text-align:center; margin-top:100px;font-size: 4vw;">Media</h1>
                    <h2 class="text-header text-subheader" style="display: inline-block;width: 100px; margin-left:30%;margin-right:0px;">Screenshots</h2>
                    <h2 class="text-header text-subheader" style="display: inline-block;width: 100px; margin-right:30%;margin-left:0px; float:right">Videos</h2>
                    <div id="slider">
                        <input type="radio" name="slider" id="s1">
                        <input type="radio" name="slider" id="s2">
                        <input type="radio" name="slider" id="s3" checked>
                        <input type="radio" name="slider" id="s4">
                        <input type="radio" name="slider" id="s5">
                        <label for="s1" id="slide1"></label>
                        <label for="s2" id="slide2"></label>
                        <label for="s3" id="slide3"></label>
                        <label for="s4" id="slide4"></label>
                        <label for="s5" id="slide5"></label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>