@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="team-preview">
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters full-screen-height hide-overflow">
                <div class="col-lg-12 hide-overflow size-70-sm">
                    <div class="absolute layer-4 article-preview align-vertical-absolute align-text-center">
                        <h1 class="text-header">Longlife Games</h1>
                        <p class="text-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                    <span class="cover dark-overlay"></span>
                    <img src="@Url.Content("~/Views/Images/pexels-photo-577585.jpeg")" class="main-image-prefs" >
                </div>
                <div class="col-lg-12 size-30-sm black-bg hide-on-lg">
                </div>
            </div>
        </div>
    </section>

    <section id="yura-description">
        <div class="container-fluid" style="padding:0px">
            <div class="row no-gutters full-screen-height black-bg">
                <div class="col-lg-6">
                    <div class="profile-picture align-vertical">
                        <img src="@Url.Content("~/Views/Images/yurii_fedorkevich.jpg")" class="round">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header">Yurii Fedorkevych</h1>
                        <p class="text-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>