@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    <section id="preview-tools">

        <div class="container-fluid" style="padding:0px;">

            <div class="row no-gutters full-screen-height hide-overflow">
                <div class="col-lg-12  size-70-sm">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header align-text-center">Lorem Ipsum is simply dummy text of the printing and</h1>
                    </div>
                    <span class="cover dark-overlay"></span>
                    <img src="@Url.Content("~/Views/Images/pexels-photo-1509428.jpeg")" class="main-image-prefs">
                </div>
                <div class="col-lg-12  size-30-sm black-bg">

                </div>
            </div>
            
        </div>

    </section>

    <section id="socialgrammer">

        <div class="container-fluid" style="padding:0px;">

            <div class="row no-gutters full-screen-height hide-overflow">
                <div class="col-lg-5 black-bg to-hide">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header">Gameplay</h1>
                        <p class="text-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                        </p>
                    </div>
                    <div class="button pink-bg"><span>Learn More</span></div>
                </div>
                <div class="col-lg-7">
                    @*<a href="@Url.Action("ToolDescription", "Home")" style="height:100vh; width:100%"></a>*@
                        <img src="@Url.Content("~/Views/Images/pexels-photo-410635.jpeg")" class="main-image-prefs">


                </div>

            </div>
            <div class="hide-on-lg ">
                <div class="row no-gutters full-screen-height hide-overflow">
                    <div class="col-lg-5 black-bg">
                        <div class="absolute layer-4 article-preview align-vertical-absolute">
                            <h1 class="text-header">Gameplay</h1>
                            <p class="text-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            </p>
                        </div>
                        <div class="button pink-bg"><span>Learn More</span></div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section id="softyarch">

        <div class="container-fluid" style="padding:0px;">

            <div class="row no-gutters full-screen-height hide-overflow">
                <div class="col-lg-7">
                    <img src="@Url.Content("~/Views/Images/pexels-photo-1181311.jpeg")" class="main-image-prefs">
                </div>
                <div class="col-lg-5 black-bg to-hide">
                    <div class="absolute layer-4 article-preview align-vertical-absolute">
                        <h1 class="text-header">Gameplay</h1>
                        <p class="text-content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                        </p>
                    </div>
                    <div class="button pink-bg"><span>Learn More</span></div>
                </div>
            </div>
            <div class="hide-on-lg ">
                <div class="row no-gutters full-screen-height hide-overflow">
                    <div class="col-lg-5 black-bg">
                        <div class="absolute layer-4 article-preview align-vertical-absolute">
                            <h1 class="text-header">Gameplay</h1>
                            <p class="text-content">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                            </p>
                        </div>
                        <div class="button pink-bg"><span>Learn More</span></div>
                    </div>
                </div>

            </div>
            </div>

    </section>

</main>